<div class="container mt-4">

  <div class="row">

    <!-- ================= TASK LIST ================= -->
    <div class="col-md-8">

      <div class="card shadow">

        <div class="card-header bg-dark text-white">
          <h5>Task List</h5>
        </div>

        <div class="card-body table-responsive">

          <table class="table table-bordered table-hover">

            <thead class="table-light">
              <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Project</th>
                <th>Assigned To</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Start Date</th>
                <th>Due Date</th>
                <th>Completed</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>

              <tr *ngFor="let task of tasks">

                <td>{{task.taskId}}</td>
                <td>{{task.title}}</td>
                <td>{{task.projectId}}</td>
                <td>{{task.assignedTo}}</td>
                <td>{{task.priority}}</td>
                <td>{{task.status}}</td>
                <td>{{task.createdDate | date:'dd/MM/yyyy'}}</td>
                <td>{{ task.dueDate | date:'yyyy-MM-dd' }}</td>

                <td>

                  <span
                    class="badge"
                    [ngClass]="task.isCompleted ? 'bg-success' : 'bg-warning text-dark'">

                    {{task.isCompleted ? 'Completed' : 'Pending'}}

                  </span>

                </td>

                <td>

                  <button
                    class="btn btn-primary btn-sm me-2"
                    (click)="editTask(task)">
                    Edit
                  </button>

                  <button
                    class="btn btn-danger btn-sm"
                    (click)="deleteTask(task.taskId)">
                    Delete
                  </button>

                </td>

              </tr>

            </tbody>

          </table>

        </div>

      </div>

    </div>

    <!-- ================= CREATE TASK ================= -->

    <div class="col-md-4">

      <div class="card shadow">

        <div class="card-header bg-primary text-white">
          <h5>Create Task</h5>
        </div>

        <div class="card-body">

          <!-- Title -->

          <div class="mb-3">
            <label>Title</label>

            <input
              type="text"
              class="form-control"
              [(ngModel)]="task.title">

          </div>

          <!-- Description -->

          <div class="mb-3">

            <label>Description</label>

            <textarea
              class="form-control"
              rows="3"
              [(ngModel)]="task.description">
            </textarea>

          </div>

          <!-- Project -->

          <div class="mb-3">

            <label>Project Id</label>

            <input
              type="number"
              class="form-control"
              [(ngModel)]="task.projectId">

          </div>

          <!-- Assigned -->

          <div class="mb-3">

            <label>Assigned To</label>

            <input
              type="number"
              class="form-control"
              [(ngModel)]="task.assignedTo">

          </div>

          <!-- Priority -->

          <div class="mb-3">

            <label>Priority</label>

            <select
              class="form-select"
              [(ngModel)]="task.priority">

              <option value="">Select</option>
              <option>Low</option>
              <option>Medium</option>
              <option>High</option>

            </select>

          </div>

          <!-- Status -->

          <div class="mb-3">

            <label>Status</label>

            <select
              class="form-select"
              [(ngModel)]="task.status">

              <option value="">Select</option>
              <option>Pending</option>
              <option>In Progress</option>
              <option>Completed</option>

            </select>

          </div>

          <!-- Start Date -->

          <div class="mb-3">

            <label>Start Date</label>

            <input
              type="date"
              class="form-control"
              [(ngModel)]="task.startDate">

          </div>

          <!-- Due Date -->

          <div class="mb-3">

            <label>Due Date</label>

            <input
              type="date"
              class="form-control"
              [(ngModel)]="task.dueDate">

          </div>

          <!-- Completed -->

          <div class="form-check mb-3">

            <input
              class="form-check-input"
              type="checkbox"
              [(ngModel)]="task.isCompleted">

            <label class="form-check-label">
              Completed
            </label>

          </div>

          <div class="text-center">

            <button
              class="btn btn-success me-2"
              (click)="saveTask()">
              Save
            </button>

            <button
              class="btn btn-secondary"
              (click)="resetForm()">
              Clear
            </button>
     
          </div>

        </div>

      </div>

    </div>

  </div>
 
</div>